@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:  sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  color: #333;
  float: left;
  overflow: hidden;
  background: #333;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

.search{
    margin-top: 15px;
    float: right;
    margin-right: 50px;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* Style buttons */
.btn {
    border-radius: 30px;
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 8px 14px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
body{
  
    background: #64044e;
}
.resume{
    width: 800px;
    background: #fff;
    margin: 25px auto;
    display: flex;
}
.left{
    background: #585b61;
width: 250px;
padding: 0 20px;
}
.right{
    width: calc(100% - 250px);
}
.left .img_holder{
    text-align: center;
    padding: 20px 0;

}
.left .img_holder img{
    width: 200px;
    border-radius: 30px;
}
.pb{
    padding-bottom: 20px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color:#3525af;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}
.title:before{
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 50px;
    height: 3px;
    background: rosybrown;
}
.left .contact .li_wrap .icon{
    font-size: 20px;
    color: #fff;
}
.left .contact .li_wrap .text{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.contact .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.contact .li_wrap .icon:hover{
    background: #9153c9;
}
.contact .li_wrap .icon{
    
    width: 50px;
    height: 50px;
    background: rgb(180, 153, 153);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.contact .li_wrap .text{
    width: calc(100% - 50px);
word-break: break-word;
color: #fff;

}
.my .ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.my .li_wrap{
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
border-radius: 15px;
background: rgba(255, 255, 255, 0.452);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

border: 2px solid rgba(255, 255, 255, 0.295);
}
.my .li_wrap .text{
    margin-top: 5px;
}
.my .li_wrap .icon,
.my .li_wrap .text{
    color: rgba(223, 10, 74, 0.747);
}
.my .li_wrap:hover{
    background: rgb(236, 8, 133);
}

.my .li_wrap:hover .icon,
.my .li_wrap:hover .text{
    
    background: #3525af;

}
.header{
    background: #292b2f;
    padding: 15px 30px;
    color: #fff;
    height: 240px;
}
.header .name{
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3525af;
}
.header .role{
    font-weight: 300;
    font-size: 20px;
}
.header .about{
    margin-top: 20px;
    line-height: 25px;
}
.right_iner{
    padding: 30px;
    color: #292b2f;
}
.right_iner .edu,.right_iner .exp{
    margin-top: 30px;
}
.right_iner .li_wrap{
    display: flex;
    margin-bottom: 15px;

}
.right_iner .li_wrap .date{
    width: 125px;
    color: #9153c9;

}
.right_iner .li_wrap .info{

    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}
.right_iner .li_wrap .info_title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #9153c9;
}
.right_iner .li_wrap .info_com{
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;

}
.right_iner .li_wrap .info_cont{
    margin-top: 15px;
}
.right_iner .li_wrap .info:before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #9153c9;
    border-radius: 50%;
}

.right_iner .li_wrap .info:before{
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: #9153c9;
    
}


    
.social{

    Position: relative;
  
    Text-align: center;
  
    Top: -98px;
  
  }
  
  .fa-facebook, .fa-twitter, .fa-google-plus, .fa-whatsapp{
  
    Border: 7px solid #777;
  
    Border-radius: 50%;
  
  
    Padding: 10px;
  
    Box-sizing: border-box;
  
    Margin-right: 7px;
  
    Margin-left: 7px;
  
    Transition: 0.5s;
  
  }
  
  .fa-google-plus{
  
    Padding: 6px 4px;
  
  }
  
  .fa-facebook:hover{
  
    Color: #fff;
  
    Background: #3C4AB9;
  
    Border-color: #3C4AB9;
  
  }
  
  .fa-twitter:hover{
  
    Color: #fff;
  
    Background: #1da1f2;
  
    Border-color: #1da1f2;
  
  }
  
  .fa-google-plus:hover{
  
    Color: #fff;
  
    Background: #DD4B39;
  
    Border-color: #DD4B39;
  
  }
  
  .fa-whatsapp:hover{
  
    Color: #fff;
  
    Background: green;
  
    Border-color:green;
  
  }
  
  Hr{
  
    Position: relative;
  
    Top: -45px;
  
    Background: #fff;
  
    Width: 0;
  
    Height: 5px;
  
    Animation: anim 2s forwards linear;
  
    Border: none;
  
  }
  
  @keyframes anim{
  
    100%{width: 130px;}
  
  }
  footer{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 10.42857142857143;
    color: rgb(107, 10, 235);
    padding: 10px;
    text-align: center;}